body {
  background-color: #eee;
}

.sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
}

.sidebar .nav .nav-link {
  color: #333;
  padding-left: 4rem;
}

.page-content {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
